/* Imports */
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;500;600;700;800&display=swap");

* {
    scroll-behavior: smooth;
    margin: 0;
    padding: 0;
    text-decoration: none;
    box-sizing: border-box;
    /* outline: 1px solid #000000fc; */
    list-style: none;
}

:root {
    --Font-Principal: "Poppins", sans-serif;
    --background-light-color: #eceef9;
    --border-radius-5px: 5px;
    --border-radius-10px: 10px;
    --border-radius-15px: 15px;
    --border-radius-20px: 20px;
    --color-active: #ffffffb3;
    --color-blue: #0069bd;
    --color-green: #51be55;
    --color-red: #f44336;
    --color-dark: #37374d;
    --color-hover: #dccec882;
    --color-white-semi-transparent: #fafafede;
    --item-box-shadow: 5px 5px 20px #00000039;
    --item-padding: 10px;
}

body {
    /* background: #eef5ee;
    background: linear-gradient(90deg, #f4fdf4, #fef8f6, #f6fbfe); */
    background: url(/Cinemax/Images/yamato.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    background-position: center center;
    font-family: var(--Font-Principal);
    min-height: 100vh;
}

.material-icons-sharp {
    user-select: none;
    -webkit-user-select: none;
    /* text-shadow: -1px 1px 2px #0000005c; */
    transition: transform 0.3s, text-shadow 0.3s;
}

.material-icons-sharp:hover {
    transform: scale(1.1);
    text-shadow: -1px 1px 3px #0000006e;
}

/* --------------------------------- Loader --------------------------------- */
div.loader {
    z-index: 100;
    display: flex;
}
.loader_hide {
    display: none;
    align-items: center;
    justify-content: center;
    left: 0;
    top: 0;
    z-index: -1;
    width: 100%;
    height: calc(100vh - 500px);
}

.lds-ellipsis {
    display: inline-block;
    position: relative;
    width: 80px;
    height: 80px;
}
.lds-ellipsis div {
    position: absolute;
    top: 33px;
    width: 13px;
    height: 13px;
    border-radius: 50%;
    background: var(--color-blue);
    box-shadow: -1px 3px 5px rgba(0, 0, 0, 0.121);
    animation-timing-function: cubic-bezier(0, 1, 1, 0);
}
.lds-ellipsis div:nth-child(1) {
    left: 8px;
    animation: lds-ellipsis1 0.6s infinite;
}
.lds-ellipsis div:nth-child(2) {
    left: 8px;
    animation: lds-ellipsis2 0.6s infinite;
}
.lds-ellipsis div:nth-child(3) {
    left: 32px;
    animation: lds-ellipsis2 0.6s infinite;
}
.lds-ellipsis div:nth-child(4) {
    left: 56px;
    animation: lds-ellipsis3 0.6s infinite;
}
@keyframes lds-ellipsis1 {
    0% {
        transform: scale(0);
    }
    100% {
        transform: scale(1);
    }
}
@keyframes lds-ellipsis3 {
    0% {
        transform: scale(1);
    }
    100% {
        transform: scale(0);
    }
}
@keyframes lds-ellipsis2 {
    0% {
        transform: translate(0, 0);
    }
    100% {
        transform: translate(24px, 0);
    }
}

/* --------------------------------- Header --------------------------------- */
header {
    display: flex;
    align-items: center;
    justify-content: center;
    position: sticky;
    top: 0;
    z-index: 1000;
    height: 40px;
    font-family: var(--Font-Principal);
}

h1 {
    color: var(--color-dark);
    font-weight: 300;
    font-size: 20pt;
}

/* ----------------------------------- Nav ---------------------------------- */
nav {
    display: flex;
    align-items: center;
    position: fixed;
    left: 0;
    right: 0;
    bottom: 15px;
    z-index: 1000;
    width: fit-content;
    width: -moz-fit-content;
    margin: 0 auto;
    padding: 7px;
    border-radius: var(--border-radius-15px);
    background: #ffffffd1;
    box-shadow: 0 10px 20px #0000004a;
    flex-direction: column;
}

/* -------------------- Nav Button Up ------------------- */
nav div.button_up_active {
    transition: color .3s, background .3s, transform .3s;
    border-radius: 10px;
    margin-bottom: 5px;
    width: 100%;
}

nav .button_up_active span.material-icons-sharp {
    font-size: 20pt;
}

nav .button_up {
    background: transparent;
    width: 0;
    margin: 0;
    box-shadow: 0 0 0 transparent;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    transition-property: width, margin;
    transition-duration: .3s;
}

nav .button_up .material-icons-sharp {
    font-size: 0;
    transition: font-size .3s;
}

nav .button_up:hover {
    color: white;
    background: var(--color-blue);
    transform: scale(1.01) translateY(-7px);
}

/* ---------------------- Nav Items --------------------- */
nav ul {
    display: flex;
    color: var(--color-dark);
    gap: 3px;
}

ul li {
    display: flex;
    align-items: center;
    justify-content: center;
    padding-bottom: 3px;
    box-shadow: 0 0 1px #00000009, 0 0 0px #64646404;
    transition: background 0.3s, border-radius 0.3s, transform 0.3s,
        box-shadow 0.3s;
    cursor: pointer;
}

li img {
    width: 50px;
}

li:hover {
    background: var(--color-hover);
}

.active_option {
    transform: scale(1.1);
    border-radius: var(--border-radius-10px);
    background: var(--color-active);
    box-shadow: 0 2px 3px #0000002d, 0 -2px 3px #6464640d;
}

.active_option::before {
    content: "";
    position: absolute;
    bottom: 0px;
    width: 40%;
    height: 4px;
    border-radius: var(--border-radius-5px);
    background: var(--color-blue);
}

.active_option img {
    animation: active_option 0.3s ease-in-out;
}
@keyframes active_option {
    0% {
        transform: scale(1.1);
    }
    50% {
        transform: scale(0.9);
    }
    100% {
        transform: scale(1);
    }
}
/* ---------------------------------- Main ---------------------------------- */
main {
    display: flex;
    width: 100%;
    max-width: 1500px;
    margin: 0 auto;
    overflow-x: auto;
    flex-direction: row;
    flex-wrap: nowrap;
    scroll-snap-type: x mandatory;
    scroll-margin-top: 0;
}

main::-webkit-scrollbar {
    display: none;
}

h2 {
    font-weight: 300;
}
h3 {
    font-weight: 300;
}
/* -------------------------------- Sections -------------------------------- */
section {
    position: relative;
    width: 100%;
    min-width: 100%;
    padding: 0 20px 100px 20px;
    scroll-snap-align: start;
    scroll-padding-top: 40px;
}

body::-webkit-scrollbar {
    height: 8px;
    width: 7px;
    border-radius: 10px;
    background: transparent;
}
body::-webkit-scrollbar-thumb {
    border-radius: 10px;
    background: var(--color-blue);
}

.section_title {
    display: flex;
    width: 100%;
    margin-bottom: 5px;
    padding-bottom: 5px;
    font-size: 20pt;
}

.section_title h2 {
    font-size: 24pt;
    font-weight: 400;
}

/* -------------------------- Sections header items ------------------------- */
.section_header {
    display: flex;
    margin-bottom: 20px;
    justify-content: flex-start;
}

.container_header_items {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
    gap: 10px;
    width: 100%;
    max-width: 900px;
}

.header_item {
    display: flex;
    flex-direction: row;
    align-items: center;
    bottom: 0;
    padding: 15px;
    border-radius: 20px;
    color: white;
    transition: bottom 0.3s ease-in-out, box-shadow 0.5s ease, transform 0.2s;
    box-shadow: 3px 5px 7px #00000030, -10px -10px 15px #00000017 inset;
    justify-content: flex-start;
}

.header_item:hover {
    bottom: 5px;
    transform: scale(1.03);
    box-shadow: 0px 5px 35px #0000006f, -3px -3px 15px #fefefe2a inset;
    z-index: 2;
    /* outline: 2px solid white; */
}

.header_item:nth-child(1) {
    background: linear-gradient(to right, #135e97, #0672c5);
}

.header_item:nth-child(2) {
    background: linear-gradient(to right, #1a6e1e, #15aa1b);
}

.header_item:nth-child(3) {
    background: linear-gradient(to right, #912222, #c62e23);
}

.header_item span.material-icons-sharp {
    text-shadow: -2px 3px 4px rgba(0, 0, 0, 0.292);
    font-size: 40pt;
}

.header_item h5 {
    font-weight: 300;
    transition: font-size 0.3s;
}

.header_item h5:first-child {
    font-size: 16pt;
}
.header_item h5:last-child {
    font-size: 9pt;
}

/* ------------------------------ Section body ------------------------------ */
.container_subsection {
    scroll-margin-top: 40px;
    margin-bottom: 20px;
}

#container_section_subtitle-Directores {
    scroll-margin-top: 40px;
}

.section_subtitle {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    margin-bottom: 15px;
    padding-bottom: 5px;
    border-bottom: 1px solid;
}

.section_subtitle div {
    display: flex;
    align-items: center;
    gap: 5px;
}

.section_subtitle div span {
    font-size: 24pt;
}

.section_body {
    width: 100%;
}

.container_items {
    display: grid;
    grid-auto-flow: dense;
    grid-template-columns: repeat(auto-fit, minmax(350px, 1fr));

    gap: 10px;
}
/* ---------------------------------- Item ---------------------------------- */
.item {
    display: inline-block;
    padding: var(--item-padding);
    border-radius: var(--border-radius-20px);
    background: var(--color-white-semi-transparent);
    box-shadow: var(--item-box-shadow);
    transition: box-shadow 0.5s ease, transform 0.3s;
}

.item:hover {
    transform: scale(1.03);
    box-shadow: 0px 10px 10px #0000004d;
    z-index: 2;
}

.item_header {
    display: flex;
    justify-content: space-between;
    width: 100%;
    margin-bottom: 10px;
    padding: 5px;
    font-size: 13pt;
}

.item_date {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 5px;
}

.item_body {
    display: flex;
    flex-direction: column;

    justify-content: flex-start;
}

.foto_and_title {
    width: 100%;
    display: flex;
    border-bottom: 1px solid;
    margin-bottom: 10px;
    justify-content: flex-start;
}

.foto img {
    border-radius: var(--border-radius-10px);
    height: 160px;
    width: 130px;
}

.info_item {
    width: 100%;
    display: flex;
    flex-direction: column;
    padding-left: 10px;
}

.info_item div:first-child {
    display: flex;
    align-items: center;
    justify-content: start;
    gap: 5px;
    border-bottom: 1px solid;
}

.info_item > div:last-child {
    display: flex;
    flex-direction: column;
    gap: 5px;
    height: 100%;
    justify-content: space-evenly;
}

.info_item > div:last-child > span {
    font-weight: 300;
}

.item_estadisticas {
    width: 100%;
    padding-left: 5px;
    font-weight: 300;
}

.item_estadisticas h4 {
    white-space: nowrap;
    font-weight: 300;
    font-size: 14pt;
}

.item_estadisticas div:first-child {
    overflow: hidden;
    display: flex;
    gap: 5px;
}

.item_estadisticas > .contadores {
    display: flex;
    justify-content: space-between;
    width: 100%;
    margin-bottom: 0;
}

.contadores div {
    gap: 5px;
    display: flex;
}

.item_estadisticas progress {
    width: 100%;
    height: 15px;
    animation: progressBar 0.9s forwards;
}
@keyframes progressBar {
    0% {
        width: 0%;
        opacity: 0;
    }
    100% {
        width: 100%;
        opacity: 1;
    }
}

/* item estadiscas */
.item_body.body2 {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    overflow: hidden;
    height: 100%;
}

.body2 .container_grafico {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
}

.container_grafico canvas.grafico {
    width: 100%;
    height: 100%;
}

/* ------------------------------ User section ------------------------------ */
.data_section .header_item {
    gap: 10px;
    padding: 20px 10px;
    cursor: pointer;
}

.data_section .header_item:hover {
    outline: 2px solid #ffffff;
}

/* --------------------------------- Subbody -------------------------------- */
.section_subbody {
    display: flex;
    justify-content: center;
    width: 100%;
    padding: var(--item-padding);
    border-radius: var(--border-radius-20px);
    background: var(--color-white-semi-transparent);
    overflow: hidden;
    box-shadow: var(--item-box-shadow);
    align-items: center;
    flex-direction: column;
}

.container_table {
    max-height: 500px;
    width: 100%;
    padding-bottom: 5px;
    border-radius: var(--border-radius-10px);
    overflow: auto;
}
.container_table::-webkit-scrollbar {
    background: transparent;
    height: 7px;
}
.container_table::-webkit-scrollbar-thumb {
    border-radius: var(--border-radius-15px);
    background: var(--color-blue);
}

table {
    border-spacing: 15px;
    min-width: 100%;
}

th {
    /* padding: 10px 15px 10px 0; */
    font-weight: 400;
    text-align: start;
    white-space: nowrap;
    max-width: 250px;
}

tbody tr:hover {
    background: #37383d0f;
}

td.editableOn {
    background: #3da8fa16;
    outline: 1px solid var(--color-blue);
    transition: all 0.3s;
}

td.editableOn:focus {
    background: var(--color-white-semi-transparent);
    text-shadow: 0px 0px 5px rgba(66, 66, 66, 0.75);
    box-shadow: 0px 0px 10px var(--color-blue);
    outline: 1px solid #03a9f4;
}

td {
    max-width: 250px;
    font-size: 12pt;
    font-weight: 300;
    overflow: hidden;
    white-space: nowrap;
    transition: background 0.3s;
}
td:first-child {
    padding-left: 5px;
    border-radius: 7px 0 0 7px;
}
td:last-child {
    border-radius: 0 7px 7px 0;
}

tbody td img {
    width: 35px;
    height: 35px;
    object-fit: cover;
    border-radius: 50%;
}

.table_check {
    display: none;
}

div.checkboxToButton::after {
    display: flex;
    text-align: center;
    top: 0;
    left: 0;
    background: var(--color-blue);
    content: "Aceptar";
    width: 100%;
    height: 100%;
    position: relative;
    color: var(--color-white-semi-transparent);
    font-size: 8pt;
    align-items: center;
    justify-content: center;
}

.table_check:checked + label > div.checkboxToButton::after {
    border-radius: var(--border-radius-10px);
    background: var(--color-blue);
    box-shadow: none;
}

.custom_checkbox {
    width: 50px;
    height: 25px;
    border-radius: var(--border-radius-15px);
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.397) inset;
    position: relative;
    padding: 2px;
    cursor: pointer;
}

.custom_checkbox::after {
    content: "";
    width: calc(50% - 4px);
    height: calc(100% - 4px);
    position: absolute;
    border-radius: var(--border-radius-10px);
    left: 2px;
    background: rgb(191, 191, 191);
    box-shadow: 1px 0px 4px rgba(104, 104, 104, 0.726);
    transition: left 0.3s, background 0.5s, box-shadow 0.5s;
}

.table_check:checked + label > .custom_checkbox::after {
    border-radius: var(--border-radius-10px);
    left: calc(50% + 2px);
    background: var(--color-blue);
    box-shadow: -1px 0px 4px var(--color-blue);
}

/* ------------- Header Table Buttons Y Form ------------ */

.container_buttons_and_form {
    border-bottom: 1px solid;
    width: 100%;
    margin: auto;
    height: fit-content;
    gap: 5px;
    padding: 10px;
    display: flex;
    justify-content: center;
    align-items: flex-end;
    flex-direction: column;
}

.sub_container_buttons {
    display: flex;
}

.sub_container_buttons .btns {
    border-radius: 0;
    display: flex;
    padding: 10px;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    transition-property: border-radius, background;
    transition-duration: 0.3s;
}

.sub_container_buttons .btns:hover {
    box-shadow: 0 5px 15px #00000019;
    border-radius: 50%;
}
.sub_container_buttons .btns .material-icons-sharp {
    transition: transform 0.3s;
    color: #202020;
}
.sub_container_buttons .btns:hover .material-icons-sharp {
    transform: scale(1.1);
    color: rgb(0, 0, 0);
}

.sub_container_form {
    width: 100%;
}

.sub_container_form form {
    height: 100%;
    border-top: 1px solid;
    padding: 10px;
    /* background: white; */
    /* box-shadow: 0 0 15px rgb(0 0 0 / 14%) inset; */
    margin: 5px 0;
    /* border-radius: var(--border-radius-15px); */
    gap: 15px;
    display: flex;
    flex-wrap: nowrap;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
}

.sub_container_form form .container_inputs {
    gap: 10px;
    display: flex;
    width: 100%;
    flex-wrap: wrap;
}

.content_label {
    width: calc(50% - 15px);
    display: flex;
    position: relative;
    flex-direction: column;
}

input.input_agregar_form {
    border: 0;
    border-bottom: 2px solid #b1b1b100;
    padding: 5px 0;
    font-size: 16px;
    background-color: transparent;
    color: #000000;
    text-shadow: 0px 0px 5px rgba(66, 66, 66, 0.75);
    transition: outline 0.3s, box-shadow 0.3s, border-radius 0.3s, transform 0.3s, padding .3s;
}

input.input_agregar_form:hover {
    border-bottom: 2px solid #2196f3;
}

input.input_agregar_form::placeholder {
    color: gray;
    text-shadow: none;
}

input.input_agregar_form:focus {
    padding-left: 10px;
    transform: translateY(5px);
    border-radius: 7px;
    outline: 2px solid #03a9f4;
    box-shadow: 0px 0px 10px var(--color-blue);
}

input.input_agregar_form:focus ~ .content_label > p {
    top: -10px;
    left: 5px;
    color: var(--color-blue);
}

.container_form_act_btns {
    gap: 15px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.container_form_act_btns button {
    border-radius: var(--border-radius-10px);
    padding: 10px;
    border: none;
    cursor: pointer;
    transition: outline 0.3s, box-shadow 0.3s, background .3s, color .3s;
    display: flex;
    align-items: center;
    justify-content: center;
}

.container_form_act_btns button:last-child {
    color: white;
    background: #dcdcdd;
}
.container_form_act_btns button:first-child {
    background: #dcdcdd00;
}

.container_form_act_btns button:hover:first-child {
    outline: 2px solid #ffffff;
    background: red;
    color: white;
    box-shadow: 0 0 15px #7a7a7a;
}
.container_form_act_btns button:hover:last-child {
    outline: 2px solid #2196f3;
    box-shadow: 0 0 15px #888888;
}

/* ------------------------------- Responsive 500px - Mobile ------------------------------- */
@media screen and (max-width: 500px) {
    .active_option {
        transform: scale(1);
    }

    nav li:hover {
        background: var(--color-active);
    }

    nav li img {
        width: 60px;
    }

    main {
        scroll-snap-type: x proximity;
    }

    div#chi2 {
        grid-template-columns: repeat(auto-fit, minmax(100px, 1fr));
    }

    div#chi2 .header_item {
        flex-direction: column;
        justify-content: center;
        padding: 7px;
    }

    div#chi2 .header_item span.material-icons-sharp {
        font-size: 25pt;
    }

    div#chi2 .header_item h5 {
        text-align: center;
    }

    div#chi2 .header_item h5:first-child {
        font-size: 14pt;
    }

    div#chi2 .header_item h5:last-child {
        display: none;
    }

    .data_section .header_item {
        gap: 0;
        padding: 5px;
    }

    section {
        padding: 0 10px 100px 10px;
    }

    .container_items {
        grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    }
}
