/* Imports */
@import url("https://fonts.googleapis.com/css2?family=Plus+Jakarta+Sans:wght@200&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;500;600;700;800&display=swap");

* {
    scroll-behavior: smooth;
    /* position: relative; */
    margin: 0;
    padding: 0;
    text-decoration: none;
    box-sizing: border-box;
    /* outline: 1px solid rgba(0, 0, 0, 0.99); */
    list-style: none;
}

:root {
    --Font-Principal: "Poppins", sans-serif;
    /* --Font-Principal: "Plus Jakarta Sans", sans-serif; */
    --background-light-color: rgb(236, 238, 249);
    --border-radius-1: 5px;
    --border-radius-2: 10px;
    --border-radius-3: 20px;
    --color-active: rgba(247, 241, 238, 0.642);
    --color-blue: rgb(16, 136, 213);
    --color-green: #4caf50;
    --color-red: #f44336;
    --color-dark: rgb(55, 55, 77);
    --color-hover: rgba(220, 206, 200, 0.511);
    --color-white: #fafafe;
    --item-box-shadow: 5px 5px 20px rgba(0, 0, 0, 0.224);
    --item-padding: 10px;
}

body {
    background: rgb(207, 228, 207);
    background: linear-gradient(
        90deg,
        rgb(216, 232, 216),
        rgb(227, 213, 207),
        rgb(204, 221, 232)
    );
    background-repeat: no-repeat;
    font-family: var(--Font-Principal);
    min-height: 100vh;
}

.material-icons-sharp {
    user-select: none;
    -webkit-user-select: none;
    text-shadow: -1px 1px 1.5px rgba(0, 0, 0, 0.297);
}

/* ------------------------------ Ventana modal ----------------------------- */
.modal_hide {
    width: 0;
    height: 0;
    background: transparent;
    opacity: 0;
    z-index: -1;
    transition: all 0.3s;
    position: absolute;
}

div.modal {
    width: 100%;
    height: 100vh;
    position: fixed;
    top: 0;
    left: 0;
    background: rgb(0 0 0 / 15%);
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 1001;
    opacity: 1;
}

.container_modal {
    max-width: 80%;
    background: var(--color-white);
    padding: var(--item-padding);
    box-shadow: var(--item-box-shadow);
    border-radius: var(--border-radius-3);
    font-size: 14pt;
}

.header_modal {
    display: flex;
    width: 100%;
    justify-content: space-between;
    align-items: center;
    gap: 50px;
    margin-bottom: 10px;
}
.header_modal .material-icons-sharp {
    cursor: pointer;
    font-size: 25pt;
}

.content_modal {
    max-height: 50vh;
    overflow: auto;
    padding: 5px 20px;
}

.content_modal > div {
    box-shadow: var(--item-box-shadow);
    border-radius: var(--border-radius-3);
    margin: 15px 0;
    padding: 10px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
justify-content: center;}

.content_modal > div > input {
    
    width: fit-content;
    padding: 10px;
    border: none;
    border-radius: var(--border-radius-1);
    outline: none;
    background: transparent;
}

.content_modal > div > input:focus {
    /* background: var(--color-active); */
    outline: 2px solid var(--color-blue);
}

/* --------------------------------- Header --------------------------------- */
header {
    display: flex;
    align-items: center;
    justify-content: center;
    position: sticky;
    top: 0;
    z-index: 1000;
    height: 40px;
    font-family: var(--Font-Principal);
}

.bdFilter_Header {
    backdrop-filter: blur(10px);
    -webtkit-backdrop-filter: blur(10px);
}

h1 {
    color: var(--color-dark);
    font-weight: 300;
    font-size: 20pt;
}

/* ----------------------------------- Nav ---------------------------------- */
nav {
    display: flex;
    align-items: center;
    position: fixed;
    left: 0;
    right: 0;
    bottom: 5px;
    z-index: 1000;
    width: fit-content;
    width: -moz-fit-content;
    margin: 0 auto;
    padding: 7px;
    border-radius: var(--border-radius-3);
    background: rgba(255, 255, 255, 0.256);
    backdrop-filter: blur(10px);
    -webtkit-backdrop-filter: blur(10px);
    box-shadow: 0 10px 20px #0000006b;
}

nav ul {
    display: flex;
    color: var(--color-dark);
    gap: 3px;
}

ul li {
    display: flex;
    align-items: center;
    justify-content: center;
    padding-bottom: 3px;
    transition: background 0.3s, border-radius 0.5s;
    gap: 2px;
    cursor: pointer;
}

li img {
    width: 50px;
}

li:hover {
    background: var(--color-hover);
    border-radius: var(--border-radius-1);
}

.active_option {
    display: flex;
    justify-content: center;
    position: relative;
    padding: 5px;
    border-radius: var(--border-radius-2);
    background: var(--color-active);
    box-shadow: 0 2px 3px rgb(0 0 0 / 12%), 0 -2px 3px rgb(100 100 100 / 5%);
}

.active_option::before {
    content: "";
    position: absolute;
    bottom: 0px;
    width: 40%;
    height: 4px;
    border-radius: var(--border-radius-1);
    background: var(--color-blue);
}

.active_option img {
    animation: active_option 0.3s ease-in-out;
}
@keyframes active_option {
    0% {
        transform: scale(1.1);
    }
    50% {
        transform: scale(0.9);
    }
    100% {
        transform: scale(1);
    }
}
/* ---------------------------------- Main ---------------------------------- */
main {
    display: flex;
    width: 100%;
    max-width: 1300px;
    margin: 0 auto;
    overflow-x: auto;
    flex-direction: row;
    flex-wrap: nowrap;
    scroll-snap-type: x mandatory;
    scroll-margin-top: 0;
}

main::-webkit-scrollbar {
    display: none;
}

h2 {
    font-weight: 300;
}
h3 {
    font-weight: 300;
}
/* -------------------------------- Sections -------------------------------- */
section {
    position: relative;
    width: 100%;
    min-width: 100%;
    padding: 0 20px 100px 20px;
    scroll-snap-align: start;
    scroll-padding-top: 40px;
}

body::-webkit-scrollbar,
.container_table::-webkit-scrollbar {
    height: 10px;
    width: 7px;
    border-radius: 10px;
    background: transparent;
}
body::-webkit-scrollbar-thumb,
.container_table::-webkit-scrollbar-thumb {
    border-radius: 10px;
    background: var(--color-blue);
}

.section_title {
    display: flex;
    width: 100%;
    margin-bottom: 5px;
    padding-bottom: 5px;
    font-size: 20pt;
}

.section_title h2 {
    font-size: 24pt;
    font-weight: 400;
}

/* -------------------------- Sections header items ------------------------- */
.home_header {
    margin-bottom: 10px;
}

.container_header_items {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(260px, 1fr));
    gap: 10px;
}

.header_item {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    bottom: 0;
    margin-bottom: 15px;
    padding: 15px;
    border-radius: 20px;
    color: white;
    transition: bottom 0.3s ease-in-out, box-shadow 0.5s ease, transform 0.2s;
    box-shadow: 3px 7px 13px #00000062, -3px -3px 15px #fefefe2a inset;
}

.header_item:hover {
    bottom: 5px;
    transform: scale(1.05);
    box-shadow: 0px 10px 10px #0000007a, -3px -3px 15px #fefefe2a inset;
    z-index: 2;
}

.p_inline {
    background: linear-gradient(to right, #004981, #077fdb);
}

.p_registered {
    background: linear-gradient(to right, #2e6531, #3ca440);
}

.p_Noregistered {
    background: linear-gradient(to right, #8b0000, #dc3b30);
}

.header_item div span.material-icons-sharp {
    text-shadow: -2px 3px 4px rgba(0, 0, 0, 0.292);
    font-size: 40pt;
}

.header_item div h5 {
    font-weight: 300;
}

.header_item div h5:first-child {
    font-size: 17pt;
}

/* ------------------------------ Section body ------------------------------ */
.container_subsection {
    margin-bottom: 20px;
}

.section_subtitle {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    margin-bottom: 5px;
    padding-bottom: 5px;
    border-bottom: 1px solid;
}

.section_subtitle div {
    display: flex;
    align-items: center;
    gap: 5px;
}

.section_subtitle div span {
    font-size: 24pt;
}

.section_body {
    width: 100%;
}

.container_items {
    display: grid;
    grid-auto-flow: dense;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    /* grid-template-rows: 250px; */
    gap: 10px;
}
/* ---------------------------------- Item ---------------------------------- */
.item {
    display: inline-block;
    padding: var(--item-padding);
    border-radius: var(--border-radius-3);
    background: var(--color-white);
    box-shadow: var(--item-box-shadow);
    transition: box-shadow 0.5s 0.1s ease, transform 0.3s 0.1s;
}

.item:hover {
    transform: scale(1.03);
    box-shadow: 0px 10px 10px rgb(0 0 0 / 30%);
    z-index: 2;
}

.item_header {
    display: flex;
    justify-content: space-between;
    width: 100%;
    margin-bottom: 10px;
    padding: 5px;
    font-size: 13pt;
}

.item_date {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 5px;
}

.item_body {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: flex-start;
}

.item_info {
    width: 100%;
    padding-left: 5px;
    font-weight: 300;
}

.item_info h4 {
    white-space: nowrap;
    font-weight: 300;
    font-size: 14pt;
}

.item_info div:first-child {
    overflow: hidden;
    display: flex;
    margin-bottom: 5px;
    padding-bottom: 4px;
    border-bottom: 1px solid;
    gap: 5px;
}

.item_info > .contadores {
    display: flex;
    justify-content: space-between;
    width: 100%;
    margin-bottom: 0;
}

.contadores div {
    gap: 5px;
    display: flex;
}

.item_info progress {
    width: 100%;
    height: 20px;
    animation: progressBar 0.9s forwards;
}
@keyframes progressBar {
    0% {
        width: 0%;
        opacity: 0;
    }
    100% {
        width: 100%;
        opacity: 1;
    }
}

/* item estadiscas */
.item_body.body2 {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    overflow: hidden;
}

.body2 .container_grafico {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
}

.container_grafico canvas.grafico {
    width: 100%;
    height: 100%;
}

/* ------------------------------ User section ------------------------------ */
.container_actions_icons {
    height: 45px;
    display: flex;
    justify-content: center;
    margin-bottom: 10px;
    gap: 5px;
}

.container_actions_icons div {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 10px;
    border-radius: 10px;
    font-size: 0;
    text-shadow: -2px 3px 4px rgba(0, 0, 0, 0.292);
    color: white;
    transition: transform 0.3s, box-shadow 0.3s, font-size 0.3s;
    cursor: pointer;
    gap: 0;
    box-shadow: -3px 4px 10px #00000062;
}

.container_actions_icons div:hover {
    font-size: 10pt;
    transform: scale(1.05);
    box-shadow: 0px 4px 13px #0000009c;
    gap: 5px;
}

div.action_btn_active {
    font-size: 10pt;
    transform: scale(1.05);
    gap: 5px;
    box-shadow: 0px 4px 7px #00000083;
    outline: 1.5px solid var(--color-white);
}

.container_actions_icons #agregar {
    background: linear-gradient(to right, #2c692e, var(--color-green));
}
.container_actions_icons #editar {
    background: linear-gradient(to right, rgb(12, 89, 137), var(--color-blue));
}
.container_actions_icons #eliminar {
    background: linear-gradient(to right, #992921, var(--color-red));
}

/* --------------------------------- Subbody -------------------------------- */
.section_subbody {
    display: flex;
    justify-content: center;
    width: 100%;
    padding: var(--item-padding);
    border-radius: var(--border-radius-3);
    background: var(--color-white);
    overflow: hidden;
    box-shadow: var(--item-box-shadow);
}

.container_table {
    border-radius: 10px;
    width: 100%;
    overflow: auto;
    padding-bottom: 5px;
}

table {
    border-spacing: 0;
    min-width: 100%;
}

thead {
    background: var(--color-blue);
}

th {
    padding: 5px 10px;
    border-bottom: 1px solid;
    font-weight: 400;
    text-align: start;
    color: var(--color-white);
    white-space: nowrap;
}
th:first-child {
    border-radius: 10px 0 0 10px;
}
th:last-child {
    border-radius: 0 10px 10px 0;
}

tbody tr:hover {
    background: rgba(55, 56, 61, 0.057);
}

td {
    max-width: 200px;
    padding-left: 10px;
    padding-right: 10px;
    font-size: 12pt;
    font-weight: 300;
    overflow: hidden;
    white-space: nowrap;
}
td:first-child {
    border-radius: 10px 0 0 10px;
    padding-left: 5px;
}
td:last-child {
    border-radius: 0 10px 10px 0;
}
td label {
    padding: 0 95% 0 0;
}
